body{
    font-family: 'Poppins', sans-serif;
    background-color: #16213E;
}
ul a{
  text-decoration: none;
  cursor: pointer;
}
span{
  color: #E94560;
}
hr{
  border:  1px solid #CDCDCD
}
#nav-item{
   text-decoration: none;
}
.brand{
  color: #533483;
}
.category {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #E94560;
}
.elpsis{
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
